In [1]:
fahrenheit_val = 99
celsius_val = ((fahrenheit_val - 32) * (5/9))

In [2]:
print(celsius_val)

37.22222222222222

In [3]:
fahrenheit_val2 = 32
celsius_val2 = ((fahrenheit_val2 - 32) * (5/9))

In [4]:
print(celsius_val2)

0.0

In [5]:
def explicit_fahr_to_celsius(temp):
    # Assign the converted value to a variable
    converted = ((temp - 32) * (5/9))
    # Retuirn the value of the new variable
    return converted

In [6]:
explicit_fahr_to_celsius(32)

0.0

In [7]:
explicit_fahr_to_celsius(99)

37.22222222222222

In [8]:
def fahr_to_celsius(temp):
    return ((temp - 32) * (5/9))

In [9]:
fahr_to_celsius(32)

0.0

In [10]:
celsius_value = fahr_to_celsius(32)

In [11]:
print(celsius_value)

0.0

In [12]:
print("Freezing point of water:", fahr_to_celsius(32), "C")
print(f"Freezing point of water {fahr_to_celsius(32)} C")

Freezing point of water: 0.0 C
Freezing point of water 0.0 C

In [38]:
def celsius_to_kelvin(temp_c, printoutput=True):
    """ take a temperature in celsius 
    and return kelvin
    
    :param temp_c: Temperature value in Celsius
    :returns: Temperature value in Kelvin
    
    Example
    ------
    >>> celsius_to_kelvin(100)
    373.15
    """
    temp_k = temp_c + 273.15
    
    if printoutput:
        print(temp_k)
        
    return temp_k

In [29]:
help(celsius_to_kelvin)

Help on function celsius_to_kelvin in module __main__:

celsius_to_kelvin(temp_c)
    take a temperature in celsius
    and return kelvin

    :param temp_c: Temperature value in Celsius
    :returns: Temperature value in Kelvin

    Example
    ------
    >>> celsius_to_kelvin(100)
    373.15

In [43]:
output = celsius_to_kelvin(temp_c=50, False)

SyntaxError: positional argument follows keyword argument (1952658481.py, line 1)

In [15]:
celsius_to_kelvin(10)

283.15

In [16]:
def fahr_to_kelvin(temp_f):
    temp_c = fahr_to_celsius(temp_f)
    temp_k = celsius_to_kelvin(temp_c)
    return temp_k

In [18]:
print(f"Boiing point of water in Kelvin is {fahr_to_kelvin(212)}")

Boiing point of water in Kelvin is 373.15

In [19]:
tempprint(temp_c)

NameError: name 'temp_c' is not defined

In [21]:
temp_fahr = 212
temp_kelvin = fahr_to_kelvin(temp_fahr)
print(temp_kelvin)

373.15

In [22]:
def print_temperatures():
    print(f"temp in Fahrenheit was {temp_fahr}")
    print(f"temp in kelvin was {temp_kelvin}")

In [23]:
print_temperatures()

temp in Fahrenheit was 212
temp in kelvin was 373.15

In [30]:
import numpy as np

In [34]:
np.loadtxt("/Users/cwood34/repos/python-novice-esces/data/wavesmonthly.csv", ",", skiprows=1)

SyntaxError: unexpected EOF while parsing (<unknown>, line 1)

In [44]:
def favourite_ice_cream():
    icecreams = ["chocolate", "vanilla", "strawberry"]
    print(icecreams[3])

In [45]:
favourite_ice_cream()

IndexError: list index out of range

def some_function():
    msg = "Hello world"
    print(msg)
     return msg

In [48]:
print(a)

NameError: name 'a' is not defined

In [49]:
for i in range(10):
    number = i
    print(number)
    
print(number)

0
1
2
3
4
5
6
7
8
9
9

In [50]:
def factorial(n):
    if n < 0:
        raise ValueError("Only use non-negative integers")
        
    factorial = 1
    for i in range(1, n+1):
        factorial = factorial * i
        
    return factorial

In [51]:
def factorial(n):
    if n < 0:
        raise ValueError("Only use non-negative ints")
    
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)

In [52]:
names = ["Mary", "Isla", "Sam"]

for name in names:
    print(len(name))

4
4
3

In [53]:
name_lengths = map(len, names)

In [55]:
print(list(name_lengths))

[4, 4, 3]

In [56]:
print(name_lengths)

<map object at 0x7fe68d669400>

In [57]:
numbers = [0,1,2,3,4]
sqaures = map(lambda x: x*x, numbers)
print(list(sqaures))

[0, 1, 4, 9, 16]

In [58]:
def add_one(x):
    return x+1

output = map(add_one, numbers)
print(list(output))

[1, 2, 3, 4, 5]

In [60]:
integers = range(5)

double_ints = [2 * ugg for ugg in integers]

print(double_ints)

[0, 2, 4, 6, 8]